<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Project</title>
 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flat-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap/css/bootstrap.min.css') }}">
 
</head>
<body>






<!-- Javascript -->

    <script src="{{ url_for('static', filename='js/flat-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>

<!-- end Javascript -->
</body>
 
</html> 